<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>http://app.api.autohome.com.cn/autov4.7/news/newslist-pm1-c0-nt60-p1-s30-l0.json</string>
		<key>title</key>
		<string>导购</string>
		<key>vcName</key>
		<string>FMGuideViewController</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://app.api.autohome.com.cn/autov4.7/news/newslist-pm1-c0-nt3-p1-s30-l0.json</string>
		<key>title</key>
		<string>评测</string>
		<key>vcName</key>
		<string>FMEvaluateViewController</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://app.api.autohome.com.cn/autov4.7/news/newslist-pm1-c0-nt82-p1-s30-l0.json</string>
		<key>title</key>
		<string>用车</string>
		<key>vcName</key>
		<string>FMUsageViewController</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://app.api.autohome.com.cn/autov4.7/news/newslist-pm1-c0-nt102-p1-s30-l0.json</string>
		<key>title</key>
		<string>技术</string>
		<key>vcName</key>
		<string>FMTechnologyViewController</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://app.api.autohome.com.cn/autov4.7/news/videolist-pm1-vt0-s30-lastid0.json</string>
		<key>title</key>
		<string>视频</string>
		<key>vcName</key>
		<string>FMVideoViewController</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://app.api.autohome.com.cn/autov4.7/news/newslist-pm1-c0-nt1-p1-s30-l0.json</string>
		<key>title</key>
		<string>新闻</string>
		<key>vcName</key>
		<string>FMNewsViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>快报</string>
		<key>vcName</key>
		<string>FMQuickViewController</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://app.api.autohome.com.cn/autov4.7/news/newslist-pm1-c110100-nt2-p1-s30-l0.json</string>
		<key>title</key>
		<string>行情</string>
		<key>vcName</key>
		<string>FMMarketViewController</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://app.api.autohome.com.cn/autov4.7/news/newslist-pm1-c0-nt100-p1-s30-l0.json</string>
		<key>title</key>
		<string>游记</string>
		<key>vcName</key>
		<string>FMTravelViewController</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://app.api.autohome.com.cn/autov4.7/news/shuokelist-pm1-s30-lastid0.json</string>
		<key>title</key>
		<string>说客</string>
		<key>vcName</key>
		<string>FMSayerViewController</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://app.api.autohome.com.cn/autov4.7/news/videolist-pm1-vt8-s30-lastid0.json</string>
		<key>title</key>
		<string>原创视频</string>
		<key>vcName</key>
		<string>FMOriginalVideoViewController</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://app.api.autohome.com.cn/autov4.7/news/newslist-pm1-c0-nt107-p1-s30-l0.json</string>
		<key>title</key>
		<string>改装</string>
		<key>vcName</key>
		<string>FMRefitViewController</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://app.api.autohome.com.cn/autov4.7/news/newslist-pm1-c0-nt97-p1-s30-l0.json</string>
		<key>title</key>
		<string>文化</string>
		<key>vcName</key>
		<string>FMCultureViewController</string>
	</dict>
</array>
</plist>
